div{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(37, 35, 35));
    text-align: center;
    display: flexbox;
    margin: 0;
}
h1{
    text-align: center;
    width: 230px;
    border-radius: 15px;
    display:inline-flexbox;
    height: 100px;
    background-color: whitesmoke;
    position: relative;
    animation: mymove 5s infinite;
    animation-iteration-count: infinite;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
@keyframes mymove {
    from {left:0px;}
    to {left: 550px;}
  }
button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    width:9em;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:whitesmoke;
    display: inline-flexbox;
    border-radius: 15px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.btn:hover{

    margin:  auto;
    padding:30px 50px;
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.5s linear;

    
    
}



.input{
    border: 2px solid azure;
    border-radius: 12px;
    padding: 25px 25px 25px 25px;
    height: 10px;
    margin-bottom: 10px;
    width: 600px;
}
.input2{
    border: 2px solid azure;
    border-radius: 12px;
    padding: 25px 25px 25px 25px;
    height: 10px;
    margin-bottom: 30px;
    width: 600px;
}
center{
    color: #000;
    font-size: large;
    margin-top: 30px;
    display: flexbox;
}